node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage

.git
.gitignore
.github

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*

.vscode
.idea
*.md
README.md

docker-compose.yml
docker-compose.override.yml
Dockerfile.dev
